<div style="display: flex; width: 1800px;">
  <div style="border: 1px solid gray; width: 100px;">
    id
  </div>
  <div style="border: 1px solid gray; width: 300px;">
    city
  </div>
  <div style="border: 1px solid gray; width: 200px;">
    color
  </div>
  <div style="border: 1px solid gray; width: 200px;">
    company
  </div>
  <div style="border: 1px solid gray; width: 150px;">
    first_name
  </div>
  <div style="border: 1px solid gray; width: 150px;">
    last_name
  </div>
  <div style="border: 1px solid gray; width: 400px;">
    email
  </div>
  <div style="border: 1px solid gray; width: 200px;">
    ip_address
  </div>
  <div style="border: 1px solid gray; width: 100px;">
    gender
  </div>
</div>

<div *ngFor="let x of data" style="display: flex; width: 1800px;">
  <div style="border: 1px solid gray; width: 100px;">
    {{ x.id }}
  </div>
  <div style="border: 1px solid gray; width: 300px;">
    {{ x.city }}
  </div>
  <div style="border: 1px solid gray; width: 200px;">
    {{ x.color }}
  </div>
  <div style="border: 1px solid gray; width: 200px;">
    {{ x.company }}
  </div>
  <div style="border: 1px solid gray; width: 150px;">
    {{ x.first_name }}
  </div>
  <div style="border: 1px solid gray; width: 150px;">
    {{ x.last_name }}
  </div>
  <div style="border: 1px solid gray; width: 400px;">
    {{ x.email }}
  </div>
  <div style="border: 1px solid gray; width: 200px;">
    {{ x.ip_address }}
  </div>
  <div style="border: 1px solid gray; width: 100px;">
    {{ x.gender }}
  </div>
</div>
